<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
        {{> head}}
    </head>
    <body>
        {{> header}}
        {{> topnav}}
        
        <!-- Begin Page Title Component -->
        <div class="tn-pagetitle">
            <h1>{{pageTitle}}</h1>
        </div>
        <!-- End Page Title Component -->
        <p>Click this:&nbsp;<a href="https://dev.aem.mytn.gov" target="_blank">MyTN Desktop Dev (target=_blank)</a></p>
        <p>Click this:&nbsp;<a href="https://dev.aem.mytn.gov">MyTN Desktop Dev (target=self)</a></p>
        <p>Secured stuff here</p>
        <!-- Start panel component -->
        <div class="tn-panel">
            <div class="panel">
                <div class="tn-rte">
                    <h2>This is a Panel with text </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet diam diam, vel lacinia sem dictum vel. Donec tempor, erat sed ornare vehicula, dui augue lobortis lacus, sit amet venenatis neque augue a lorem. Proin pulvinar purus justo, in euismod massa laoreet nec. Integer lacinia imperdiet venenatis. Maecenas maximus sagittis tristique. Ut vitae neque dolor.
                    </p>
                </div>
            </div>
        </div>
		<!-- Start panel component -->
        {{> footer}}
    </body>
</html>