<!DOCTYPE html>
<html class="tn-html no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="pageID" content="42961">
    <title>Needs to be Page Title</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" href="https://tn.gov/etc/clientlibs/tncore/main.css" type="text/css">
    <!-- This line was added to manually grab the tngov css to make sure it was working -->
    <link rel="stylesheet" href="https://tn.gov/etc/clientlibs/tn-sites/tngov.css" type="text/css">
    <!-- End inserted css testing file -->
</head>

<body>
    <!-- Begin Header -->
    <div class="tn-header">
        <header id="header">
            <div class="row center-block top-nav">
                <a class="logo tn-logo" href="/" data-logo="state-government">
                    <div>Home</div>
                </a>
               
            </div>
            <div class="row center-block agency">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 columns title">
                    <a href="#">
                        <img src="https://tn.gov/etc/clientlibs/tncore/main/img/logos/state-government.png" alt="  State of Tennessee" id="entity-name" data-pin-nopin="true"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columns text-right">
                    <!-- Begin Search Component -->
                   
                    <!-- END Search Component -->
                </div>
            </div>
            <div class="backdrop" style="background-image:url('https://www.tn.gov/content/dam/headers/test.jpg')"></div>
        </header>
    </div>
    <!-- End Header -->

    <!-- Begin TopNav -->
    <div class="tn-topnav">
        <nav id="nav">
            <div class="row center-block">
                <div class="col-lg-12">
                    <div class="logo-small tn-logo">
                        <a href="#"></a>
                    </div>
                    <div class="mobile-show icon-menu mobile-menu">Sections</div>
                    <ul class="inline-list nav-items">
                        <li>
                            <a href="#" class="icon-home"></a>
                        </li>
                        <li class="dropdown">
                            <a href="/">Public<i class="icon-down-dir"></i></a>
                            <ul>
                                <li><a href="#">subnav #1</a></li>
                                <li><a href="#">subnav #1</a></li>
                                <li><a href="#">subnav #1</a></li>
                                <li><a href="#">subnav #1</a></li>

                            </ul>
                        </li>
                        
                        <li class="dropdown">
                            <a href="/secured">Secured</a>
                        </li>
                        <li class="dropdown">
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                    <div class="right primary-print">
                        <a href="javascript:window.print();" class="icon-print"> </a>
                    </div>
                    <div class="right secondary-print">
                        <a href="javascript:window.print();" class="icon-print"></a>
                    </div>
                    <div class="right secondary-search">
                        <a class="icon-search"> </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- End TopNav -->

    <!-- Begin Basic Template Content -->
    <div id="main" class="basic">

        <!-- Begin Page Title Component -->
        <div class="tn-pagetitle">
            <h1>One column template</h1>
        </div>
        <!-- End Page Title Component -->
        
       
       
        
        <!-- Begin RTE Component -->
        <div class="tn-rte">
            <h2>This is a Header</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet diam diam, vel lacinia sem dictum vel. Donec tempor, erat sed ornare vehicula, dui augue lobortis lacus, sit amet venenatis neque augue a lorem. Proin pulvinar purus justo, in euismod massa laoreet nec. Integer lacinia imperdiet venenatis. Maecenas maximus sagittis tristique. Ut vitae neque dolor.
            </p>
            <p>
                Pellentesque ac vehicula nisi. Nam id metus sit amet nulla venenatis sollicitudin id quis elit. Praesent id luctus neque, eget rhoncus dolor.
            </p>
            <p>
                <strong>State Building Somewhere</strong>
                <br> 267 Some address, suite 1.
                <br> Nashville, TN 37201
                <br> Phone: (123) 456-7890
                <br> E-mail: <a href="mailto:help@egovtn.org">address@domain.org</a>
            </p>
        </div>
        <!-- End RTE Component -->

        <hr />
      <!-- Start panel component -->
	<div class="tn-panel">
        <div class="panel">
            <div class="tn-rte">
                <h2>This is a Panel with text </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet diam diam, vel lacinia sem dictum vel. Donec tempor, erat sed ornare vehicula, dui augue lobortis lacus, sit amet venenatis neque augue a lorem. Proin pulvinar purus justo, in euismod massa laoreet nec. Integer lacinia imperdiet venenatis. Maecenas maximus sagittis tristique. Ut vitae neque dolor.
                </p>
            </div>
        </div>
    </div>
		<!-- Start panel component -->

	<hr />

    <!-- End Basic Template Content -->
<!-- Begin left nav -->
	<div class="row center-block">

            <!-- Begin Left Nav Component-->
            <div class="template-left-nav tn-leftnav">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <nav class="side expander">
                        <h2 class="border-red"><a href="#">Projects </a></h2>
                        <ul class="block-list">
                            <!-- NOTE: The class of "active" needs to be applied to the active URL -->
                            <li class="active">
                                <a href="#" class="">Active Placeholder w/Children</a>
                                <ul>
                                    <li><a href="#">Placeholder</a></li>
                                    <li><a href="#">Placeholder</a></li>
                                    <li><a href="#">Placeholder</a></li>
                                    <li><a href="#">Placeholder</a></li>
                                    <li><a href="#">Placeholder</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Active Placeholder w/o Children</a>
                            </li>
                            <li><a href="#">Accordion Placeholder</a>
                                <ul>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                    <li><a href="#">Child Placeholder</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End Left Nav Component-->

            <!-- Begin Main Content -->
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 content">
                <article>
                    <div class="tn-pagetitle">
                        <h1>This is a Header Placeholder</h1>
                        <span class="subtitle">This is a Subtitle Placeholder</span>
                    </div>

                    
                    
                    <hr />
                    <!-- Begin RTE Component -->
                    <div class="tn-rte">
                        
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet diam diam, vel lacinia sem dictum vel. Donec tempor, erat sed ornare vehicula, dui augue lobortis lacus, sit amet venenatis neque augue a lorem. Proin pulvinar purus justo, in euismod massa laoreet nec. Integer lacinia imperdiet venenatis. Maecenas maximus sagittis tristique. Ut vitae neque dolor.
                        </p>
                       
                    </div>
                    <!-- End RTE Component -->
                   
                </article>
            </div>
            <!-- End Main Content -->
        </div>
	
	<!--End left nav -->
    </div>	
		


    


    <!-- Begin Footer -->
    <div class="tn-footer">
        <footer id="footer">
            <div id="footer-top">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 columns">
                <ul class="inline-list"> 
                    <li id="footer-livechat" class>
                        <a href="#" class="icon-chat" onClick="openFooterChat()" target="_blank">
                            Live Chat
                        </a>
                        <div class="livechat">
                            <script type='text/javascript' >
                                function openFooterChat() {
                                    window.open ("https://help.tn.gov/sn_customerservice_tn_chat_selector.do", "popup", "width=900, height=600"); 
                                 };
                            </script>
                        </div>
                    </li>
                </ul>
            </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 columns text-right">
                        <ul class="inline-list">
                            <li><a href="https://www.tn.gov/help-tn-main.html" class="icon-help-circled">Help</a></li>
                            <li id="footer-share" class="has-drop"><a href="#" class="icon-export">Share</a>
                        <div class="drop right">
                            <div class="box">
                                <span
                                    class='st_sharethis_large'
                                    displayText='ShareThis'></span>
                                <span
                                    class='st_facebook_large'
                                    displayText='Facebook'></span>
                                <span
                                    class='st_twitter_large'
                                    displayText='Tweet'></span>
                                <span
                                    class='st_googleplus_large'
                                    displayText='Google +'></span>
                                <span
                                    class='st_linkedin_large'
                                    displayText='LinkedIn'></span>
                                <script type="text/javascript">
                                    var switchTo5x = true;
                                </script>
                                <script
                                    type="text/javascript"
                                    src="https://ws.sharethis.com/button/buttons.js"></script>
                                <script type="text/javascript">
                                    if (typeof stLight !== 'undefined') {
                                        stLight.options({
                                            publisher : "5dc356bf-5442-455c-b483-ab8ca7d8cd15",
                                            doNotHash : false,
                                            doNotCopy : false,
                                            hashAddressBar : false
                                        });
                                    }
                                </script>
                            </div>
                        </div></li>

                            <li id="footer-translate">
				<a href="#" class="icon-book">Translate</a>
				<div class="drop right">
				  <div class="box">
					<div id="google_translate_element"></div>
				  </div>
				</div>
			  </li>
                            <li id="footer-fontsize">
                                <a href="#" class="icon-font">Font Size</a>
                                <div class="drop right">
                                    <div class="box">
                                        <ul class="inline-list">
                                            <li><a class="button" data-font-size="small">a-</a></li>
                                            <li><a class="button" data-font-size="normal">Normal</a></li>
                                            <li><a class="button" data-font-size="large">A+</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="#" class="starball"><img src="https://tn.gov/etc/clientlibs/tncore/main/img/footer-starball.png" alt="Tristar" width="100%"></a>
            </div>
            <div id="footer-bottom">
                <div class="row">
                    <div class="large-12 medium-12 columns">
			<ul class="inline-list">
			  <li><a href="https://tn.gov" class="first">TN.gov</a></li>
			  
			</ul>
		  </div>
		  <div class="large-12 medium-12 columns text-right">
			<ul class="inline-list">
			 <li></li>
			</ul>
		  </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- End Footer -->
    <div id="overlay"></div>

    <script type="text/javascript" src="https://tn.gov/etc/clientlibs/tncore/main.js"></script>
</body>

</html>